.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 10px;
  border: 1px solid black;
  width: 400px;
}

.contactLabel {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.contactInput {
  width: 150px;
}

.submitButton {
  display: flex;
  align-items: center;
  width: 90px;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}
